@charset "utf-8";
/* CSS Document */
* {
    margin: 0px;
    padding: 0px;
}
body {
	
}
#showTime{
	position:absolute;
	top:25px;
	left:571px;
}
#dateTime{
	width:400px;
	
}
#showTime p{
	background-color:transparent;
	margin:0px;
	padding:0px;
	border:0px;
}
#continue {

}
#reglogo{
	width: 640px;
	margin: 10px auto 0px auto;
}
#reglogoword{
	width: 640px;
	margin: 0px auto;
	font-size:24px;
	font-weight:bold;
	margin-top:15px;
	margin-bottom:5px;
}
#box{
	width: 640px;
	margin: 0px auto;
    border: solid #ccc 2px;
}
#continue form p {
    height: 20px;
    margin: 30px 20px;
	font-size:16px;
}
#continue form p #nbsp{
	margin:0px; padding:0px;
	font-size:16px;
	margin-left:2em;
}
#continue form p input {
    height: 22px;
	
}
#continue form p span{
	border-radius:5px;
	padding:6px;
    margin-left: 2em;
    font-size: 12px;
    color: red;
}

#continue form p .buttontype{
	width:100px;

}